{% if (S_MOBILE_WELCOME_ENABLE && S_USER_LOGGED_IN) || (S_MOBILE_WELCOME_GUEST_ENABLE && not S_USER_LOGGED_IN) %}
	{% if S_MOBILE_ENABLE && S_MOBILE_WELCOME && MOBILE_NAME && SCRIPT_NAME == "index" %}
	<div class="welcome-mobile">
		<div class="inner">
			<span class="welcome-mobile-user">
			<span class="welcome-user">{{ lang('MOBILE_POST') }} {{ S_USERNAME }} - </span>
			<span class="mobile-aft1">{{ lang('MOBILE_POST_AFT1') }}</span>
			<span class="mobile-aft2">{{ lang('MOBILE_POST_AFT2') }}</span>
			<span class="mobile-img"> <img class="mobile-img" src="{{ BOARD_URL }}/ext/sniper/mobiledevice/images/{{ MOBILE_NAME }}.png" alt="" /></span>
			{{ MOBILE_NAME }}
			</span>
		</div>
	</div>
	{% endif %}
{% endif %}
