{% if S_MOBILE_ENABLE && S_MOBILE_LOGS_ENABLE && U_MOBILE_VIEW_LOGS %}
{% INCLUDE 'simple_header.html' %}

<div id="mobilelogsload"></div>

<h2 class="mobile-title">{{ lang('MOBILE_DEVICE_LOGS') }}</h2>

<div class="mobile-update-text">
	<a href="javascript:window.location.href=window.location.href"><i class="icon fa-refresh fa-fw icon-blue" aria-hidden="true"></i>{{ lang('MOBILE_REFRESH') }} {{ lang('MOBILE_IN') }} <span class="fa-stack fa-2g"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-stack-1x fa-inverse"><b id="countdown"></b></i></span> {{ lang('MOBILE_SECONDS') }}</a>
	<span title="{{ lang('CLOSE_WINDOW') }}" class="button button-icon-only">
		<i onclick="window.close(); return false;" class="icon fa-times fa-fw" aria-hidden="true"></i>
			<span class="sr-only">{{ lang('CLOSE_WINDOW') }}</span>
	</span>
</div>

{% if U_MOBILE_CLEAR_LOGS %}
<fieldset>
	<input type="button" class="button mobile-clear" onclick="window.location.href = '{{ U_CLEAR_LOGS }}';" value="{{ lang('MOBILE_CLEAR_LOGS') }}" />
</fieldset>
{% endif %}

<div class="forabg">
	<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl class="row-item">
					<dt><div class="list-inner">{{ lang('MOBILE_USERS') }}</div></dt>
					<dd class="noshow"></dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist forums">
		{% for logs in loops.logs %}
			<li class="row {% if logs.S_ROW_COUNT is even %}bg1{% else %}bg2{% endif %}">
				<dl>
					<dt>
						<div class="list-inner mobile-inner">
							<span class="forum-image">{{ logs.DEVICE_IMAGE }}</span>
							{% if U_MOBILE_CLEAR_LOGS and logs.S_FIRST_ROW %}<a class="mobile-remove" onclick="window.location.href='{{ U_REMOVE_LOG }}'" title="{{ lang('DELETE') }} {{ lang('MOBILE_LOG') }} {{ logs.LOG_ID }}"><i class="icon fa-trash-o fa-fw" aria-hidden="true"></i></a>{% endif %}
							{{ logs.USER_AGENT }}<br><span class="mobile-names"{% if U_ACP %} title="{{ lang('IP') ~ lang('COLON') }} {{ logs.LOG_IP }}"{% endif %}>{{ lang('MOBILE_CONNECTED') }} <span class="log-device">{{ logs.DEVICE_NAME }}</span> {{ lang('POST_BY_AUTHOR') }} <span class="log-author">{{ logs.USER_NAME }}</span> &raquo; <span class="log-time">{{ logs.LOG_TIME }}</span></span>
						</div>
					</dt>
					<dd class="noshow"></dd>
				</dl>
			</li>
		{% else %}
			<li class="row bg1">
				<dl>
					<dt>
						<div class="list-inner mobile-inner">
							{{ lang('MOBILE_NO_LOGS') }}
						</div>
					</dt>
				</dl>
			</li>
		{% endfor %}
		</ul>
	</div>
</div>

{% if loops.pagination|length or COUNT %}
<div class="action-bar bottom">
	<div class="pagination mobile-pagination">
		{{ lang('MOBILE_TOTAL') }} {{ COUNT }}
		{% if loops.pagination|length %}
			{% INCLUDE 'pagination.html' %}
		{% endif %}
	</div>
</div>
{% endif %}

<script type="text/javascript">
	function refreshpage(interval, countdownel, totalel){
		var countdownel = document.getElementById(countdownel)
		var totalel = document.getElementById(totalel)
		var timeleft = interval+1
		var countdowntimer

		function countdown(){
			timeleft--
			countdownel.innerHTML = timeleft
			if (timeleft == 0){
				clearTimeout(countdowntimer)
				window.location.reload()
			}
			countdowntimer = setTimeout(function(){
				countdown()
			}, 1000)
		}

		countdown()
	}

	window.onload = function(){
		refreshpage({{ MOBILE_LOGS_REFRESH }}, "countdown") // refreshpage(duration_in_seconds, id_of_element_to_show_result)
	}
</script>

{% EVENT mobile_simple_footer_before %}

{% if MOBILEDEVICE_FOOTER_VIEW %}
	<div class="copyright" role="contentinfo">{{ MOBILEDEVICE_DISPLAY_NAME }} <span title="{{ lang('MOBILEDEVICE_VERSION') ~ lang('COLON') }} {{ MOBILEDEVICE_VERSION }}">&copy;</span> {{ lang('POST_BY_AUTHOR') }} {{ MOBILEDEVICE_AUTHOR_HOMEPAGES }}</div>
{% endif %}

{% INCLUDE 'simple_footer.html' %}
{% endif %}
